<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
    <!-- Bootstrap -->
        <meta charset="utf-8">
        <link href="/static/css/cerulean_bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/social-buttons-3.css" rel="stylesheet">
        <link href="/static/css/bootstrap-tour.min.css" rel="stylesheet">
<!--
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
-->
        <link href="/static/css/owl.css" rel="stylesheet">
        
    <!-- <link href="/static/css/non-responsive.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-tour.min.js"></script>
        <script>
            $(document).ready( function() {
                //глобальный поиск из base.html
                var hidden_type = $("#id_search");
                var q_input = $("#id_q")
                $("#search_user").click( function() { hidden_type.val( 'user' ); q_input.attr( 'placeholder', "Поиск по пользователю" ); q_input.val(""); } );
                $("#search_event").click( function() { hidden_type.val( 'event' ); q_input.attr( 'placeholder', "Поиск по событию" ); q_input.val(""); } );
                $("#search_title").click( function() { hidden_type.val( 'title' ); q_input.attr( 'placeholder', "Поиск по названию" ); q_input.val(""); } );
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default no-margin" role="navigation">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">СОВА</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#">Видеозаписи</a></li>
                        <li class="divdider"></li>
                        <li><a href="#">События</a></li>
                        <li><a href="#" id="start_tour">Demo</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <!-- 
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">User&#32;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Видеоархив</li>
                                <li class="disabled"><a href="#">Добавить событие</a></li>
                                <li><a href="#">Мои видеозаписи</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Аккаунт</li>
                                <li><a href="#">Настройки</a></li>
                                <li><a href="#">Выйти <i class="fa fa-sign-out" style="color: rgb(153, 153, 153)"></i></a></li>
                            </ul>
                        </li> -->
                        
                        <li><a href="#">Вход</a></li>
                        <li><a href="#">Регистрация</a></li>
                        
                    </ul>
                    <form method="get" action="#" class="col-sm-4 menu_search">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-adjust"></i> <i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Искать по</li>
                                    <li><a id="search_title" href="#">названию</a></li>
                                    <li><a id="search_event" href="#">событию</a></li>
                                    <li><a id="search_user" href="#">пользователю</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input id="id_search" name="search" type="hidden" value="title" />
                            <input class="form-control form-sm" id="id_q" maxlength="255" name="q" placeholder="Поиск по названию" type="text" />
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm" type="submit">Найти <i class="fa fa-search"></i></button>
                        </span>
                        </div><!-- /input-group -->
                    </form>

                </div>
            </div>
        </nav>

        <div class="container top_pad bottom_pad main_content" style="background-color: #fff;">

            <p>Content</p>

        </div>
        <footer class="container">
            <div class="text-center">
                <span class="text-muted">Copyright@2014</span>
            </div>
        </footer>
    </body>
</html>
