<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
    <!-- Bootstrap -->
        <meta charset="utf-8">
        <link href="/static/css/cerulean_bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/social-buttons-3.css" rel="stylesheet">
        <link href="/static/css/bootstrap-tour.min.css" rel="stylesheet">
        <link href="/static/css/dataTables.colVis.min.css" rel="stylesheet">
        <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
        <link href="/static/css/summernote.css" rel="stylesheet">
        <link href="/static/css/bootstrap-editable.css" rel="stylesheet">
<!--
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
-->
        <link href="/static/css/owl.css" rel="stylesheet">
        
    <!-- <link href="/static/css/non-responsive.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-tour.min.js"></script>
        <script src="/static/js/summernote.min.js"></script>
        <script src="/static/js/jquery.dataTables.min.js"></script>
        <script src="/static/js/dataTables.bootstrap.js"></script>
        <script src="/static/js/dataTables.colVis.min.js"></script>
        <script src="/static/js/bootstrap-editable.min.js"></script>
        <script>
            $(document).ready( function() {
                //глобальный поиск из base.html
                var hidden_type = $("#id_search");
                var q_input = $("#id_q")
                $("#search_user").click( function() { hidden_type.val( 'user' ); q_input.attr( 'placeholder', "Поиск по пользователю" ); q_input.val(""); } );
                $("#search_event").click( function() { hidden_type.val( 'event' ); q_input.attr( 'placeholder', "Поиск по событию" ); q_input.val(""); } );
                $("#search_title").click( function() { hidden_type.val( 'title' ); q_input.attr( 'placeholder', "Поиск по названию" ); q_input.val(""); } );
            });
        </script>
        <script>
            $(document).ready( function() {
                $.fn.editable.defaults.mode = 'inline';
                $('#unicID1').editable();
                $('#unicID2').editable();
                $('#example').DataTable( {
                    "dom": 'C<"clear">lfrtip',
                    "colVis": {
                        "buttonText": "Change columns",
                        exclude: [0, 1]
                    }
                } );
                $("#comment").summernote(
                    {
                        height : 150,
                        toolbar : [
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                            //['fontsize', ['fontsize']],
                            //['color', ['color']],
                            ['para', ['ul', 'ol']],
                            //['height', ['height']],
                            ['insert', ['picture', 'link']],
                        ]
                        
                    }
                );
                $("#show_comment").click( function() { $("#text_comment").html( $('#comment').code() ); });
                $("#preview_link").click( function() { $( this ).children().toggle(); });
                $("#raw_link").click( function() { $( this ).children().toggle(); });
                
            });
        </script>
        
    </head>
    <body>
        <nav class="navbar navbar-default no-margin" role="navigation">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'base_site.owl_video.views.showIndex' %}">СОВА</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{% url 'base_site.owl_video.views.viewVideoList' %}">Видеозаписи</a></li>
                        <li class="divdider"></li>
                        <li><a href="{% url 'base_site.owl_video.views.viewEventList' %}">События</a></li>
                        <li><a href="#" id="start_tour">Demo</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <!-- {% if user.is_authenticated %} -->
                        <!-- <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}&#32;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Видеоархив</li>
                                <li class="disabled"><a href="#">Добавить событие</a></li>
                                <li><a href="{% url 'base_site.owl_video.views.viewVideoList' %}?search=user&q={{ user.username }}">Мои видеозаписи</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Аккаунт</li>
                                <li><a href="{% url 'base_site.owl_video.views.viewAccount' user.id %}">Настройки</a></li>
                                <li><a href="{% url 'base_site.owl_video.views.userLogout' %}">Выйти <i class="fa fa-sign-out" style="color: rgb(153, 153, 153)"></i></a></li>
                            </ul>
                        </li> -->
                        <!-- {% else %} -->
                        <li><a href="{% url 'base_site.owl_video.views.userLogin' %}">Вход</a></li>
                        <li><a href="{% url 'base_site.owl_video.views.userRegister' %}">Регистрация</a></li>
                        <!-- {% endif %} -->
                    </ul>
                    <form method="get" action="{% url 'base_site.owl_video.views.viewVideoList' %}" class="col-sm-4 menu_search">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-adjust"></i> <i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Искать по</li>
                                    <li><a id="search_title" href="#">названию</a></li>
                                    <li><a id="search_event" href="#">событию</a></li>
                                    <li><a id="search_user" href="#">пользователю</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input id="id_search" name="search" type="hidden" value="title" />
                            <input class="form-control form-sm" id="id_q" maxlength="255" name="q" placeholder="Поиск по названию" type="text" />
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm" type="submit">Найти <i class="fa fa-search"></i></button>
                        </span>
                        </div><!-- /input-group -->
                    </form>

                </div>
            </div>
        </nav>

        <div class="container top_pad bottom_pad main_content" style="background-color: #fff;">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">HDD001</a></li>
                <li class="active">Project name</li>
            </ol>

            <!-- {% block content %}{% endblock %} -->
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading" >
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#accInfo"><i class="fa fa-caret-down" style="display:none;"></i><i class="fa fa-caret-right" ></i> Информация</a>
                        </h4>
                    </div>
                    <div id="accInfo" class="panel-collapse collapse in ">
                        <div class="panel-body">
                            <H4>Описание:</H4>
                            <p>Fair Use, and I do not own the rights to this cartoon.Wow, over 2,000,000 views! Thank you, everyone! Enjoy this classic YTP.</p>
                            <strong>Тип:</strong><span class="badge">Диск</span>
                            <H4>Занято:</H4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#accProjects"><i class="fa fa-caret-down" style="display:none;"></i><i class="fa fa-caret-right"></i> Проекты</a>
                    </h4>
                </div>
                <div id="accProjects" class="panel-collapse collapse">
                <div class="panel-body">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                <thead>
                <tr>
                    <th><input type="checkbox" name="rowsSelection" value="all"></th>
                    <th>Имя проекта</th>
                    <th>Поле 1</th>
                    <th>Поле 2</th>
                    <th>Поле 3</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd gradeX">
                    <td><input type="checkbox" name="rowsSelection" value="1"></td>
                    <td><a href="#">Имя проекта как ссылка на него</a></td>
                    <td><span class="badge">bla</span></td>
                    <td class="center"><a href="#" id="unicID1" data-type="text"  data-title="enter text">text</a></td>
                    <td class="center"><a href="#" id="unicID2" data-type="text"  data-title="enter text">text</a></td>
                    <td class="center"><a href="#"><i class="fa fa-trash-o"></i></a><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                </tr>
                <tr class="gradeX">
                    <td><input type="checkbox" name="rowsSelection" value="2"></td>
                    <td>text</td>
                    <td><ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul></td>
                    <td class="center">123</td>
                    <td class="center">X</td>
                    <td class="center"><a href="#"><i class="fa fa-trash-o"></i></a><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                </tr>
                <tr class="gradeC">
                    <td><input type="checkbox" name="rowsSelection" value="3"></td>
                    <td>IE Mobile</td>
                    <td><ul style="list-style: none; padding: 0;">
                        <li style="display: inline;"><button type="button" class="btn btn-xs btn-info">AT</button></li>
                        <li style="display: inline;"><button type="button" class="btn btn-xs btn-info">adventure time</button></li>
                        <li style="display: inline;"><button type="button" class="btn btn-xs btn-info">Jake</button></li>
                    </ul></td>
                    <td class="center">df</td>
                    <td class="center">C</td>
                    <td class="center"><a href="#"><i class="fa fa-trash-o"></i></a><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                </tr>
                <tr class="gradeC">
                    <td><input type="checkbox" name="rowsSelection" value="4"></td>
                    <td>PSP browser</td>
                    <td>PSP</td>
                    <td class="center">-</td>
                    <td class="center">C</td>
                    <td class="center"><a href="#"><i class="fa fa-trash-o"></i></a><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                </tr>
                <tr class="gradeU">
                    <td><input type="checkbox" name="rowsSelection" value="5"></td>
                    <td>All others</td>
                    <td>-</td>
                    <td class="center">-</td>
                    <td class="center">U</td>
                    <td class="center"><a href="#"><i class="fa fa-trash-o"></i></a><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                </tr>
                </tbody>
                </table>
                </div>
                </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" >
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#accComment"><i class="fa fa-caret-down" style="display:none;"></i><i class="fa fa-caret-right"></i> Комментарии</a>
                        </h4>
                    </div>
                    <div id="accComment" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form>
                                <textarea class="form-control" id="comment"></textarea>
                                <button type="button" id="show_comment" class="btn btn-default">Показать</button>
                                <div id="text_comment"></div>
                            </form>
                            <br>
                            <br>
                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <img src="/static/img/AT.gif" class="img-rounded" style="width: 64px; height: 64px;">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <a href="#">User_name</a>
                                            <span class="small text-muted">12.12.12</span>
                                        </h5>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                        <!-- Nested media object -->
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img src="/static/img/AT.gif" class="img-rounded" style="width: 64px; height: 64px;">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <a href="#">User_name</a>
                                                    <span class="small text-muted">12.12.12</span>
                                                </h5>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                                <!-- Nested media object -->
                                                <div class="media">
                                                    <a class="pull-left" href="#">
                                                        <img src="/static/img/AT.gif" class="img-rounded" style="width: 64px; height: 64px;">
                                                    </a>
                                                    <div class="media-body">
                                                        <h5 class="media-heading">
                                                            <a href="#">User_name</a>
                                                            <span class="small text-muted">12.12.12</span>
                                                        </h5>
                                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Nested media object -->
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img src="/static/img/AT.gif" class="img-rounded" style="width: 64px; height: 64px;">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <a href="#">User_name</a>
                                                    <span class="small text-muted">12.12.12</span>
                                                </h5>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <footer class="container">
            <div class="text-center">
                <span class="text-muted">Copyright@2014</span>
            </div>
        </footer>
    </body>
</html>
