html, body {
    height: 100%;
    background: url('/static/img/background.png') #fff 50% repeat;
}

.main_content {
    min-height: 82%;
}

.menu_search {
    margin-top: 10px;
    padding-left: 50px;
}

.form-sm {
    padding: 5px 10px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    border-radius: 3px;
}

footer {
    border-top: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}

.no-margin {
    margin: 0;
}

.no-border {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.no-paddings {
    padding: 0;
}

.login {
    margin-top: 0;
    margin-bottom: 0;
}

#form-xs {
    height: 22px;
    font-size: 12px;
    padding: 0 12px;
}

input.form-xs{
    height: 22px;
    font-size: 12px;
    padding: 0 12px;
}

.top_indent {
    margin-top: 20px;
}
.top_pad {
    padding-top: 20px;
}

.bottom_indent {
    margin-bottom: 20px;
}
.bottom_pad {
    padding-bottom: 20px;
}

nav.navbar {
    border-radius: 0;
}

ol.my_carousel li {
    position: relative;
    width: 450px;
    height: 300px;
    background: #fff;
    border: 1px solid #000;
    display: none;
    float: left;
    margin: 0 5px 0 5px;
    z-index: 0;
}
ol.my_carousel li.active {
    display: block;
}

ol.my_carousel {
    min-height: 300px;
    margin: 0;
    padding: 0;
}

a.active_edit_link:hover > i {
    visibility: visible;
}
a.active_edit_link > i {
    visibility: hidden;
}


ul#top_borders {
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;
}
ul#top_borders li.list-group-item {
    border: none;
    border-radius: 0;
    border-top: 1px solid #ddd;
}
ul#top_borders li.list-group-item:first-child {
    border: none;
}

ul#bot_borders {
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;
}
ul#bot_borders li.list-group-item {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
ul#bot_borders li.list-group-item:last-child {
    border: none;
}

ul.no-borders {
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;
}
ul.no-borders li.list-group-item {
    border: none;
    border-radius: 0;
}


/*
Google button
*/
#customBtn {
    display: inline-block;
    background: #dd4b39;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
}
#customBtn:hover {
    background: #e74b37;
    cursor: hand;
}
span.label {
    font-weight: bold;
}
span.icon {
    background: url('/static/img/btn_red_32.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 35px;
    border-right: #bb3f30 1px solid;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto',arial,sans-serif;
}
span.status-icon {
    display: inline-block;
    vertical-align: middle !important;
    height: 34px;
    padding-top: 10px;
}
span.status-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto',arial,sans-serif;
}

ul.video_events {
    list-style: none;
    padding: 0;
}

#pager ul {
    position: relative;
    float: left;   left: 50%;
}
#pager ul li {
    position: relative;
    float: left;
    right: 50%;
}
#pager {
    overflow: hidden;
}

