* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
            
a {
    text-decoration: none;
}
            
header {
    position: relative;
    height: 100px;
    width: 100%;
    background: #A4BBED;
}
div.main {
    min-height: 100%;
    width: 100%;
    background: #EDEDCA;
}
footer {
    margin-top: -100px;
    height: 100px;
    width: 100%;
    background: #B0B0A7;
}
div.head_left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 300px;
    background: #5C8558;
}
div.head_right {
    position: absolute;
    right: 0;
    height: 100%;
    width: 300px;
    background: #29B519;
}
div.head_center {
    position: absolute;
    bottom: 0;
    left: 300px;
    right: 300px;
    text-align: center; /* нужно для центровки строковых элементов списка навигации */
    background: #E6E68A;
}
            

            
            ul.listnone {
                list-style-type: none;
            }
            
            #navbar {
                display: inline-block;
                zoom: 1;
                display*: inline; /* ie hack */
                width: 50%;
                
                background: #20E3C0;
                
            }
            
            ul.listnone, #navbar li {
                display: inline;
            }
            
            
            
            
            .main_appendix {
                height: 100px;
            }
