{% extends "base.html" %}

{% block style %}
<link href="/static/css/summernote.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
<link href="/static/css/dataTables.colVis.min.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<style>
    .note-editor .note-editable {
        overflow: auto;
        resize: none;
    }
    .note-editor .note-statusbar {
        display: none;
    }
    
    
    .no-border {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    ul.comment_actions {
        list-style: none;
        padding: 0;
    }
    ul.comment_actions li {
        display: inline;
        margin-right: 10px;
    }

    ul.comment_actions li:last-child {
        margin-right: 0;
    }

    .top_indent {
        margin-top: 10px;
    }

    ul#accordion.list-group li.list-group-item {
        padding: 0 ;
    }
    ul#accordion.list-group li.list-group-item .panel-footer {
        border: 0;
        border-radius: 0;
    }
    ul#accordion.list-group li.list-group-item:last-child .panel-footer {
        border-radius: 0 0 2px 2px;
    }

    ul#accordion.list-group li.list-group-item .panel-collapse {
        border-top: 1px solid #c3d9eb;
    }
    ul#accordion.list-group li.list-group-item .panel-body {
    }
    #id_honeypot {
        display:none;
    }
    .multiselect {
        text-align: left;
    }
    .multiselect i.fa-caret-down {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    ul.events_list_items li {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    ul.events_list_items li:last-child {
        margin: 0 0 5px 0;
    }
    ul.ul_reset {
        list-style: none;
        padding: 0;
    }

</style>
{% endblock %}
{% block scripts %}
<script src="/static/js/summernote.min.js"></script>
<script src="/static/js/summernote-ru-RU.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/dataTables.colVis.min.js"></script>

{% if user.is_authenticated and user.id == entry_video.owner.id %}
<script src="/static/js/bootstrap-select.min.js"></script>
{% endif %}

<script>
    $(document).ready( function() {
        $('#entries_table').DataTable( {
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        } );
        var event_name_pattern = /^[a-zA-Z0-9\+\.\-_\u0400-\u04ff]{2,255}$/
        var comment_pattern = /[^\s(?:<br>)(?:&nbsp;)(?:<p>(?:<br>)*(?:&nbsp;)*<\/p>)]+/;
        
        {% if user.is_authenticated and user.id == entry_video.owner.id %}
        //редактирование видеозаписи
        $("#create_event_submit").prop("disabled", "disabled");
       
        $(".selectpicker").selectpicker( {
            liveSearch : true,
            selectedTextFormat : "count>0",
            width : "100%",
            title : 'Выберите события...',
            size : 10,
            countSelectedText: '{0} из {1} выбрано',
            noneResultsText : 'Ничего не найдено',
            noneSelectedText : 'Ничего не выбрано',
            iconBase: 'fa',
            tickIcon: 'fa-check-circle'
        });
        var added_events_obj = []
        $(".selectpicker").children().slice( 0, {{ entry_video.event_set.count }} ).each( function() { 
            added_events_obj.push( 
                {
                    id : $(this).val(),
                    name : $(this).text()
                }
            );
        });
        
        //for ( var i = 0; i < added_events_obj.length; i++ ) { console.log( added_events_obj[i].event_id ); console.log( added_events_obj[i].event_name ); console.log('\n') };
        //console.log( added_events_obj[0].event_id );
        
        
        //~ tmpArr = added_events_obj.map( function(i) { i.event_id } );
        //~ for ( var i = 0; i < tmpArr.length; i++ ) { console.log( tmpArr[i] ) };
        
        
        $('#edit_events').on('show.bs.modal', function(e) {
            $(".selectpicker").selectpicker('val', added_events_obj.map( function(event) { return event.id } ) );
            $('.selectpicker').selectpicker('render');
            $(".ul_reset.events_list_items").empty();
            for ( var i = 0; i < added_events_obj.length; i++ ) { $(".ul_reset.events_list_items").append( '<li style="display: inline;"><a href="' + added_events_obj[i].id + '" class="label label-default">' + added_events_obj[i].name + '</a></li>' ); };
        });
        
        
        
        $(".selectpicker").change( function() {
            $(".ul_reset.events_list_items").empty();
            $(".selectpicker option:selected").each( function() { $(".ul_reset.events_list_items").append( '<li style="display: inline;"><a href="' + $(this).val() + '" class="label label-default">' + $(this).text() + '</a></li>' ); } );
        });
        
        //ниже не трогать =3
        
        $("#video_desc").summernote(
            {
                lang : 'ru-RU',
                height : 150,
                toolbar : [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    //['fontsize', ['fontsize']],
                    //['color', ['color']],
                    ['para', ['ul', 'ol']],
                    //['height', ['height']],
                    ['insert', [ 'link']],
                ]
            }
        );
        
        $("#event_desc").summernote(
            {
                lang : 'ru-RU',
                height : 150,
                toolbar : [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    //['fontsize', ['fontsize']],
                    //['color', ['color']],
                    ['para', ['ul', 'ol']],
                    //['height', ['height']],
                    ['insert', [ 'link']],
                ]
            }
        );
        
        $("#create_event_submit").prop("disabled", "disabled");
        
            {% if create_event_form.event_name.errors %}
                $("#create_new_event").modal('show');
            {% endif %}
            
        
        
        
        
        $("#id_event_name").blur( function() {
            var input_event_name = $(this).val();
            if ( ! event_name_pattern.test( input_event_name ) ) {
                $("#event_alert").empty();
                $("#event_alert").append("<strong>Имя события</strong> может содержать только цифры, символы&#58; Кириллицы&#44; Латиницы&#44; + - _ .");
                $("#event_alert").fadeIn().delay(2000).fadeOut();
                $("#create_event_submit").prop("disabled", "disabled");
                
            }
            else {
                $.get('/ajax/checkevent/', { new_event : input_event_name } , function( resp ) {
                    if ( resp == 'ok' ) {
                        $("#create_event_alert").fadeOut();
                        $(".form-group").removeClass("has-error");
                        $("#create_event_submit").removeProp("disabled");
                    }
                    else {
                        $("#create_event_submit").prop("disabled", "disabled");
                        $("#create_event_alert").empty();
                        $("#create_event_alert").append("Событие&#58; <strong>" + input_event_name + "</strong> уже существует");
                        $(".form-group").addClass("has-error");
                        $("#create_event_alert").fadeIn();
                    }
                });
            }
        });
        $("#create_event_form").submit( function( event ) {
            
            var html_desc = $("#event_desc").code();
            
            if ( comment_pattern.test( html_desc ) ) {
                $("#id_event_desc").val( html_desc );
            }
            else {
                $("#id_event_desc").val( '' );
            }
        });
        
        $("#edit_desc_form").submit( function( event ) {
            
            var html_desc = $("#video_desc").code();
            
            if ( comment_pattern.test( html_desc ) ) {
                $("#id_video_desc").val( html_desc );
            }
            else {
                $("#id_video_desc").val( '' );
            }
        });
        //конец редактирования
        {% endif %}
        
        $("#comment").summernote(
            {
                lang : 'ru-RU',
                height : 150,
                toolbar : [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    //['fontsize', ['fontsize']],
                    //['color', ['color']],
                    ['para', ['ul', 'ol']],
                    //['height', ['height']],
                    ['insert', [ 'link']],
                ]
            }
        );
        
        {% if user.is_authenticated and user.id == entry_video.owner.id %}
        var editor = $(".note-editor:eq(2)");
        {% else %}
        var editor = $(".note-editor");
        {% endif %}
        
        var show_editor_link = $("#show_comment");
        editor.css( "display", "none" );
        
        
        {% if user.is_authenticated %}
            show_editor_link.click( function( event ) {
                
                event.preventDefault();
                editor.slideDown("fast");
                show_editor_link.hide();
                $("#comment_group_btn").show();
            });
        {% else %}
            show_editor_link.click( function( event ) { event.preventDefault(); $("#comment_login_check_alert").slideDown(); });
        {% endif %}
        
        
        $("#cancel_comm_btn").click( function() { editor.slideUp("fast"); $("#comment").code('');  $("#comment_group_btn").hide(); $("#show_comment").show(); });
        
        {% if user.is_authenticated %}
            $(".text-muted.answer").click( function( event ) {
                
                event.preventDefault();
                var username_reply = $( this ).parent().parent().siblings().filter("h5").children("a").html();
                $("#comment").code('<strong>' + username_reply + '</strong>, ');
                editor.slideDown("fast");
                show_editor_link.hide();
                $("#comment_group_btn").show();
                
            });
        {% endif %}
        
        $("#preview_link").click( function() { $( this ).children().toggle(); });
        $("#raw_link").click( function() { $( this ).children().toggle(); });
        $("#comment_form").submit( function( event ) {
            var html_comment = $("#comment").code();
            
            
            if ( comment_pattern.test( html_comment ) ) {
                $("#id_comment").val( html_comment );
            }
            else { 
                $("#comment_pattern_check_alert").fadeIn().delay(2000).fadeOut();
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}
{% block content %}

{% if user.is_authenticated and user.id == entry_video.owner.id %}
<!--
Всплывающий аккордеон для событий
-->

<div class="modal fade" id="edit_events" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="form_accordion">
            <div class="panel panel-default no-border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title"><a data-toggle="collapse" href="#FormCollapseOne" data-parent="#form_accordion">Редактирование событий</a></h4>
                </div>
                <div id="FormCollapseOne" class="panel-collapse collapse in">
                    <form action="" role="form" method="post">
                        {% csrf_token %}
                        <div class="panel-body modal-body">
                            <div id="add_event_alert" class="alert alert-danger" {% if not select_event_errors %} style="display:none;" {% endif %}>
                                {% for error in select_event_errors %}
                                    {{ select_event_errors }}
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <select class="selectpicker" name="edit_events" multiple="multiple">
                                    {% for added_event in entry_video.event_set.all %}
                                        <option value="{{ added_event.id }}">{{ added_event.name }}</option>
                                    {% endfor %}
                                    {% for event in event_list %}
                                        <option value="{{ event.id }}">{{ event.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <ul class="ul_reset events_list_items">

                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <button type="submit" id="add_events_button" name="edit_event_submit" class="btn btn-primary">Применить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default no-border">
                <div class="modal-header" style="border-top: 1px solid #e5e5e5; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;">
                    <h4 class="modal-title" >
                        <a data-toggle="collapse" href="#FormCollapseTwo" data-parent="#form_accordion">Создание события</a>
                    </h4>
                </div>
                <div id="FormCollapseTwo" class="panel-collapse collapse">
                    <form id="create_event_form" action="" role="form" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div id="create_event_alert" class="alert alert-danger" {% if not create_event_form.event_name.errors %} style="display:none;" {% endif %}>
                                {% if create_event_form.event_name.errors %}
                                    {% for error in create_event_form.event_name.errors %}
                                        {{ error|safe }}
                                    {% endfor %}
                                {% endif %}
                                {% if create_event_form.event_desc.errors %}
                                    {% for error in create_event_form.event_desc.errors %}
                                        {{ error|safe }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group {% if create_event_form.event_name.errors %}has-error{% endif %}">
                                <label for="{{ create_event_form.event_name.id_for_label }}">Имя события&#58;</label>
                                {{ create_event_form.event_name }}
                            </div>
                            <div class="form-group">
                                <label for="create_event_form.event_desc.id_for_label">Описание события&#58;</label>
                                <div id="event_desc"></div>
                                {{ create_event_form.event_desc}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" id="resetButton" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <button type="submit" id="create_event_submit" name="create_event_submit" class="btn btn-success">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
Диалог изменения описания
-->

<div class="modal fade" id="edit_desc" tabindex="-1" role="dialog" aria-labelledby="FormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="FormLabel">Изменение описания</h4>
            </div>
            <form id="edit_desc_form" action="" role="form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="desc_alert" class="alert alert-danger" {% if not edit_desc_form.video_desc.errors %} style="display:none;" {% endif %}>
                        {% if edit_desc_form.video_desc.errors %}
                            {% for error in edit_desc_form.video_desc.errors %}
                                {{ error|safe }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div id="video_desc"></div>
                        {{ edit_desc_form.video_desc }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="reset_desc_Button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" id="submit_desc_Button" name="edit_desc_submit" class="btn btn-success">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

<!--
Страница просмотра project
-->

<div class="col-sm-12">
    <div class="alert alert-success" style="display:none;">
        Well done! You successfully read this important alert message.
    </div>
</div>
<div class="row">
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">HDD001</a></li>
    <li class="active">Project name</li>
</ol>
<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading" >
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#accInfo"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right" style="display:none;"></i> Информация</a>
            </h4>
        </div>
        <div id="accInfo" class="panel-collapse collapse in">
            <div class="panel-body">
                <h2>{{ entry_video.title }}</h2>
                <h4>
                    {% if user.is_authenticated and user.id == entry_video.owner.id %}
                    <a class="active_edit_link" href="#" data-toggle="modal" data-target="#edit_desc">Описание:<i class="fa fa-cog"></i> </a>
                    {% else %}
                    Описание:
                    {% endif %}
                </h4>
                <p>
                    {% if not entry_video.description %}
                    <span class="text-muted">Описание отсутствует</span>
                    {% else %}
                    {{ entry_video.description|safe }}
                    {% endif %}
                </p>
                <h4>
                    {% if user.is_authenticated and user.id == entry_video.owner.id %}
                    <a class="active_edit_link" href="#" data-toggle="modal" data-target="#edit_events">События:<i class="fa fa-cog"></i></a>
                    {% else %}
                    События:
                    {% endif %}
                </h4>
                <ul style="list-style: none; padding: 0;">
                    {% for event in entry_video.event_set.all %}
                    <li style="display: inline;"><a href="{% url 'base_site.owl_video.views.viewEventEntry' event.id %}" class="label label-default">{{ event.name }}</a></li>
                    {% empty %}
                    <span class="text-muted">
                        <i class="fa fa-chain-broken"></i> Не привязано ни одного события
                    </span>
                    {% endfor %}
                </ul>
                <div class="other_info">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#accAddInfo"><i class="fa fa-caret-down" style="display:none;"></i><i class="fa fa-caret-right"></i> Доп инфо</a>
                            </h4>
                        </div>
                        <div id="accAddInfo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    <strong>Последнее изменение:</strong> 12.12.12 10:10
                                </p>
                                <p>
                                    <strong>Владелец:</strong> <a href="{% url 'base_site.owl_video.views.viewAccount' entry_video.owner.id %}">{{ entry_video.owner.username }}</a>
                                </p>
                                <p>
                                    <strong>Права:</strong>
                                    <ul style="list-style: none; padding: 0;">
                                        <li style="display: inline;"><button type="button" class="btn btn-xs btn-info">Чтение</button></li>
                                        <li style="display: inline;"><button type="button" class="btn btn-xs btn-info">Запись</button></li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#accEntries"><i class="fa fa-caret-down" style="display:none;"></i><i class="fa fa-caret-right"></i> Видео</a>
            </h4>
        </div>
        <div id="accEntries" class="panel-collapse collapse">
            <div class="panel-body">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="entries_table">
                    <thead>
                    <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        <th>CSS grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX">
                        <td>Trident</td>
                        <td>Internet
                            Explorer 4.0</td>
                        <td>Win 95+</td>
                        <td class="center"> 4</td>
                        <td class="center">X</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>Trident</td>
                        <td>Internet
                            Explorer 5.0</td>
                        <td>Win 95+</td>
                        <td class="center">5</td>
                        <td class="center">C</td>
                    </tr>
                    <tr class="odd gradeA">
                        <td>Trident</td>
                        <td>Internet
                            Explorer 5.5</td>
                        <td>Win 95+</td>
                        <td class="center">5.5</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="even gradeA">
                        <td>Trident</td>
                        <td>Internet
                            Explorer 6</td>
                        <td>Win 98+</td>
                        <td class="center">6</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="odd gradeA">
                        <td>Trident</td>
                        <td>Internet Explorer 7</td>
                        <td>Win XP SP2+</td>
                        <td class="center">7</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="even gradeA">
                        <td>Trident</td>
                        <td>AOL browser (AOL desktop)</td>
                        <td>Win XP</td>
                        <td class="center">6</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Firefox 1.0</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.7</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Firefox 1.5</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Firefox 2.0</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Firefox 3.0</td>
                        <td>Win 2k+ / OSX.3+</td>
                        <td class="center">1.9</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Camino 1.0</td>
                        <td>OSX.2+</td>
                        <td class="center">1.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Camino 1.5</td>
                        <td>OSX.3+</td>
                        <td class="center">1.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Netscape 7.2</td>
                        <td>Win 95+ / Mac OS 8.6-9.2</td>
                        <td class="center">1.7</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Netscape Browser 8</td>
                        <td>Win 98SE+</td>
                        <td class="center">1.7</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Netscape Navigator 9</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.0</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td class="center">1</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.1</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td class="center">1.1</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.2</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td class="center">1.2</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.3</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td class="center">1.3</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.4</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td class="center">1.4</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.5</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td class="center">1.5</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.6</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td class="center">1.6</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.7</td>
                        <td>Win 98+ / OSX.1+</td>
                        <td class="center">1.7</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Mozilla 1.8</td>
                        <td>Win 98+ / OSX.1+</td>
                        <td class="center">1.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Seamonkey 1.1</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td class="center">1.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Gecko</td>
                        <td>Epiphany 2.20</td>
                        <td>Gnome</td>
                        <td class="center">1.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Webkit</td>
                        <td>Safari 1.2</td>
                        <td>OSX.3</td>
                        <td class="center">125.5</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Webkit</td>
                        <td>Safari 1.3</td>
                        <td>OSX.3</td>
                        <td class="center">312.8</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Webkit</td>
                        <td>Safari 2.0</td>
                        <td>OSX.4+</td>
                        <td class="center">419.3</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Webkit</td>
                        <td>Safari 3.0</td>
                        <td>OSX.4+</td>
                        <td class="center">522.1</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Webkit</td>
                        <td>OmniWeb 5.5</td>
                        <td>OSX.4+</td>
                        <td class="center">420</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Webkit</td>
                        <td>iPod Touch / iPhone</td>
                        <td>iPod</td>
                        <td class="center">420.1</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Webkit</td>
                        <td>S60</td>
                        <td>S60</td>
                        <td class="center">413</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Opera 7.0</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Opera 7.5</td>
                        <td>Win 95+ / OSX.2+</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Opera 8.0</td>
                        <td>Win 95+ / OSX.2+</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Opera 8.5</td>
                        <td>Win 95+ / OSX.2+</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Opera 9.0</td>
                        <td>Win 95+ / OSX.3+</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Opera 9.2</td>
                        <td>Win 88+ / OSX.3+</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Opera 9.5</td>
                        <td>Win 88+ / OSX.3+</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Opera for Wii</td>
                        <td>Wii</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Nokia N800</td>
                        <td>N800</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Presto</td>
                        <td>Nintendo DS browser</td>
                        <td>Nintendo DS</td>
                        <td class="center">8.5</td>
                        <td class="center">C/A<sup>1</sup></td>
                    </tr>
                    <tr class="gradeC">
                        <td>KHTML</td>
                        <td>Konqureror 3.1</td>
                        <td>KDE 3.1</td>
                        <td class="center">3.1</td>
                        <td class="center">C</td>
                    </tr>
                    <tr class="gradeA">
                        <td>KHTML</td>
                        <td>Konqureror 3.3</td>
                        <td>KDE 3.3</td>
                        <td class="center">3.3</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeA">
                        <td>KHTML</td>
                        <td>Konqureror 3.5</td>
                        <td>KDE 3.5</td>
                        <td class="center">3.5</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Tasman</td>
                        <td>Internet Explorer 4.5</td>
                        <td>Mac OS 8-9</td>
                        <td class="center">-</td>
                        <td class="center">X</td>
                    </tr>
                    <tr class="gradeC">
                        <td>Tasman</td>
                        <td>Internet Explorer 5.1</td>
                        <td>Mac OS 7.6-9</td>
                        <td class="center">1</td>
                        <td class="center">C</td>
                    </tr>
                    <tr class="gradeC">
                        <td>Tasman</td>
                        <td>Internet Explorer 5.2</td>
                        <td>Mac OS 8-X</td>
                        <td class="center">1</td>
                        <td class="center">C</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Misc</td>
                        <td>NetFront 3.1</td>
                        <td>Embedded devices</td>
                        <td class="center">-</td>
                        <td class="center">C</td>
                    </tr>
                    <tr class="gradeA">
                        <td>Misc</td>
                        <td>NetFront 3.4</td>
                        <td>Embedded devices</td>
                        <td class="center">-</td>
                        <td class="center">A</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Misc</td>
                        <td>Dillo 0.8</td>
                        <td>Embedded devices</td>
                        <td class="center">-</td>
                        <td class="center">X</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Misc</td>
                        <td>Links</td>
                        <td>Text only</td>
                        <td class="center">-</td>
                        <td class="center">X</td>
                    </tr>
                    <tr class="gradeX">
                        <td>Misc</td>
                        <td>Lynx</td>
                        <td>Text only</td>
                        <td class="center">-</td>
                        <td class="center">X</td>
                    </tr>
                    <tr class="gradeC">
                        <td>Misc</td>
                        <td>IE Mobile</td>
                        <td>Windows Mobile 6</td>
                        <td class="center">-</td>
                        <td class="center">C</td>
                    </tr>
                    <tr class="gradeC">
                        <td>Misc</td>
                        <td>PSP browser</td>
                        <td>PSP</td>
                        <td class="center">-</td>
                        <td class="center">C</td>
                    </tr>
                    <tr class="gradeU">
                        <td>Other browsers</td>
                        <td>All others</td>
                        <td>-</td>
                        <td class="center">-</td>
                        <td class="center">U</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" >
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#accComment"><i class="fa fa-caret-down" style="display:none;"></i><i class="fa fa-caret-right"></i> Комментарии</a>
            </h4>
        </div>
        <div id="accComment" class="panel-collapse collapse">
            <div class="panel-body">
                <p><a href="#" id="show_comment"><i class="fa fa-plus"></i> Добавить комментарий</a></p>
                <br>
                {% load comments %}
                {% get_comment_count for entry_video as comment_count %}

                {% if user.is_authenticated %}
                {% get_comment_form for entry_video as comment_form %}
                <div class="row no-margin comment_form top_indent">
                    <form action="{% comment_form_target %}" id="comment_form" method="post" class="form-inline">
                        {% csrf_token %}
                        {{ comment_form.comment }}
                        {{ comment_form.honeypot }}
                        {{ comment_form.content_type }}
                        {{ comment_form.object_pk }}
                        {{ comment_form.timestamp }}
                        {{ comment_form.security_hash }}
                        <div id="comment"></div>
                        <input type="hidden" name="next" value="{% url 'base_site.owl_video.views.viewVideoEntry' entry_video.id %}" >
                        <div class="form-group pull-right top_indent" style="display:none;" id="comment_group_btn">
                            <button type="reset" id="cancel_comm_btn" class="btn btn-default">Отмена</button>
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Добавить</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="row no-margin comment_alert top_indent" id="comment_login_check_alert" style="display:none;">
                    <div class="alert alert-warning">
                        Чтобы оставлять комментарии, <a class="alert-link" href="{% url 'base_site.owl_video.views.userLogin' %}"><strong>Войдите</strong></a> или <a class="alert-link" href="{% url 'base_site.owl_video.views.userRegister' %}"><strong>Создайте аккаунт</strong></a>
                    </div>
                </div>
                {% endif %}
                <div class="row no-margin comment_alert top_indent" id="comment_pattern_check_alert" style="display:none;">
                    <div class="alert alert-warning">
                        <strong>Внимание!</strong> Заполните сообщение Вашего комментария.
                    </div>
                </div>
                <div class="row no-margin comments">
                    <h4 class="page-header"><i class="fa fa-comments"></i> Комментарии <small>&#40;{{ comment_count }}&#41;</small></h4>
                    <ul class="media-list">
                        {% get_comment_list for entry_video as comment_list %}
                        {% for comment in comment_list %}
                        <li class="media">
                            <a class="pull-left" href="#">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-question fa-stack-1x"></i>
                            </span>
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <a name="c{{ comment.id }}" href="{% url 'base_site.owl_video.views.viewAccount' comment.user.id %}">{{ comment.user.username }}</a>
                                    <span class="small text-muted">{{ comment.submit_date|date:"d.m.y, H:i" }}</span>
                                </h5>
                                <p>{{ comment.comment|safe }}</p>
                                <ul class="comment_actions">
                                    {% if user.is_authenticated %}
                                    <li>
                                        <a class="text-muted answer" href="#">Ответить</a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a class="text-muted" href="{% get_comment_permalink comment %}"><i class="fa fa-link"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% empty %}
                        <p class="text-muted text-center">
                            <i class="fa fa-bullhorn"></i> Здесь пока никто ничего не написал...
                        </p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

</div>

{% endblock %}
