{% extends "base.html" %}

{% block style %}
<style>
    .help-block {
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block content %}

{% if user_join %}
<div class="alert alert-success col-sm-12">
    <i class="fa fa-check-circle fa-2x"></i> <strong>Создание аккаунта прошло успешно.</strong> Проверьте Ваш E-mail.
</div>
{% endif %}
<h1 class="bottom_indent text-center">Войти <small><i class="fa fa-sign-in"></i></small></h1>
<div class="col-sm-offset-3 col-sm-6">

            <form action="" method="post" role="form">{% csrf_token %}
                <div class="form-horizontal">
                    {% if authenticate_error %}
                    <div class="form-group">
                        <div class="alert alert-danger col-sm-11">
                            <span class="glyphicon glyphicon-minus-sign"></span> <strong>Внимание!</strong> Недействителеный&#58; Логин или Пароль
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group {% if form.login_username.errors %}has-error{% endif %}">
                        <label class="col-sm-2 control-label" for="{{ form.login_username.id_for_label }}">Логин&#58;</label>
                        <div class="col-sm-8">
                            {{ form.login_username }}
                            {% if form.login_username.errors %}
                                {% for error in form.login_username.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.login_pass.errors %}has-error{% endif %}">
                        <label class="col-sm-2 control-label" for="{{ form.login_pass.id_for_label }}">Пароль&#58;</label>
                        <div class="col-sm-8">
                            {{ form.login_pass }}
                            {% if form.login_pass.errors %}
                                {% for error in form.login_pass.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="submit" class="btn btn-primary col-sm-4" id="no-margin" value="Войти" >
                            <a href="#" class="col-sm-8" style="padding: 10px 15px;">Забыли пароль?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8 text-center">
                            <a href="{% url 'base_site.owl_video.views.userRegister' %}">Нет аккаунта? Зарегистрируйтесь!</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5" style="border-bottom:1px solid #ddd; height: 10px;"></div>
                        <div class="col-sm-2 text-center" style="color:#91AA9D;">или</div>
                        <div class="col-sm-5" style="border-bottom:1px solid #ddd; height: 10px;"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6 text-center">
                            <a href="{% url 'base_site.owl_video.views.userGrantAccessGoogle' %}" class="btn btn-google-plus"><i class="fa fa-google-plus"></i> | Войти через Google</a>
                        </div>
                        {% comment %}
                        <div class="col-sm-offset-3 col-sm-6 text-center">
                            <div id="gSignInWrapper">
                                <div id="customBtn" class="customGPlusSignIn">
                                    <a href="" style="color:white" >
                                        <span class="icon"></span>
                                        <span class="buttonText">Войти через Google</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </form>
</div>
{% endblock %}
