{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
                <span class="fa-stack" style="font-size: 8.5em;">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-question fa-stack-1x"></i>
                </span>
        {% comment %}
        <img src="/static/img/AT.gif" class="img-rounded" style="width: 100%; height: auto;">
        {% endcomment %}
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h4 class="panel-title">Информация</h4>
            </div>
            <div class="panel-body">

                <form action="" method="post" role="form">
                    <div class="form-horizontal">
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-3 control-label">Логин:</label>
                            <div class="col-sm-9">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span>{{ shown_user.username }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-3 control-label">Имя:</label>
                            <div class="col-sm-9">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span>
                                    {% if not shown_user.first_name %}
                                        <span class="text-muted">Отсутствует</span>
                                    {% else %}
                                        {{ shown_user.first_name }}
                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-3 control-label">Фамилия:</label>
                            <div class="col-sm-9">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span>
                                        {% if not shown_user.last_name %}
                                            <span class="text-muted">Отсутствует</span>
                                        {% else %}
                                            {{ shown_user.last_name }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-3 control-label">E-mail:</label>
                            <div class="col-sm-9">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span>
                                        {% if user.is_authenticated and user.id == shown_user.id %}
                                            {{ shown_user.email }}
                                        {% else %}
                                            <span class="text-muted">Скрыт</span>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-3 control-label">Зарегистрирован:</label>
                            <div class="col-sm-9">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span>{{ shown_user.date_joined|date:"d.m.y" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-3 control-label">Последнее вход:</label>
                            <div class="col-sm-9">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span>{{ shown_user.last_login|date:"d.m.y в H:i" }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <h4 class="panel-title">Статистика пользователя</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="col-sm-6 no-paddings">
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-7 control-label">Добавлено видеозаписей:</label>
                            <div class="col-sm-5">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span><a href="{% url 'base_site.owl_video.views.viewVideoList' %}?search=user&q={{ shown_user.username }}">{{ shown_user.video_set.count }}</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-7 control-label">Создано событий:</label>
                            <div class="col-sm-5">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span>{{ shown_user.event_set.count }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <label class="col-sm-7 control-label">Оставлено комментариев:</label>
                            <div class="col-sm-5">
                                <div class="pull-left" style="padding-top: 7px;">
                                    <span>{{ shown_user.comment_comments.count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
