{% extends "base.html" %}

{% block style %}
<style>
    .help-block {
        margin-bottom: 0;
    }
    .alert-danger {
        background-image: none;
        margin-bottom: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .alert-warning {
        background-image: none;
        margin-bottom: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
</style>
{% endblock %}



{% block scripts %}
<script src="/static/js/ajax_post.js"></script>
<script src="/static/js/register.js"></script>
{% endblock %}




{% block content %}
        <h1 class="bottom_indent text-center">Создание аккаунта</h1>
        <form action="" method="post" role="form">{% csrf_token %}

            <div class="form-horizontal">
                    <div class="col-sm-offset-2 col-sm-6">
                        <div class="form-group {% if form.userlogin.errors %}has-error{% endif %}">
                            <label for="{{ form.username.id_for_label }}" class="col-sm-4 control-label">Логин</label>
                            <div class="col-sm-8">
                                {{ form.userlogin }}
                                {% if form.userlogin.errors %}
                                    {% for error in form.userlogin.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                            <label for="{{ form.name.id_for_label }}" class="col-sm-4 control-label">Имя</label>
                            <div class="col-sm-8">
                                {{ form.name }}
                                {% if form.name.errors %}
                                    {% for error in form.name.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group {% if form.surname.errors %}has-error{% endif %}">
                            <label for="{{ form.surname.id_for_label }}" class="col-sm-4 control-label">Фамилия</label>
                            <div class="col-sm-8">
                                {{ form.surname }}
                                {% if form.surname.errors %}
                                    {% for error in form.surname.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                            <label for="{{ form.email.id_for_label }}" class="col-sm-4 control-label">E-mail</label>
                            <div class="col-sm-8">
                                {{ form.email }}
                                {% if form.email.errors %}
                                    {% for error in form.email.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group {% if form.f_password.errors %}has-error{% endif %}">
                            <label for="{{ form.f_password.id_for_label }}" class="col-sm-4 control-label">Ваш пароль</label>
                            <div class="col-sm-8">
                                {{ form.f_password }}
                                {% if form.f_password.errors %}
                                    {% for error in form.f_password.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group {% if form.s_password.errors %}has-error{% endif %}">
                            <div class="col-sm-offset-4 col-sm-8">
                                {{ form.s_password }}
                                {% if form.s_password.errors %}
                                    {% for error in form.s_password.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="alert alert-danger"  style="display: none" >
                            <button type="button" class="close" id="closeDU">&times;</button>

                            <span id="js_Umess"></span>
                        </div>
                        <div class="alert alert-danger"  style="display: none" >
                            <button type="button" class="close" id="closeDN">&times;</button>

                            <span id="js_Nmess"></span>
                        </div>
                        <div class="alert alert-danger"  style="display: none" >
                            <button type="button" class="close" id="closeDS">&times;</button>

                            <span id="js_Smess"></span>
                        </div>
                        <div class="alert alert-danger"  style="display: none" >
                            <button type="button" class="close" id="closeDE" >&times;</button>

                            <span id="js_Emess"></span>
                        </div>
                        <div class="alert alert-danger"  style="display: none" >
                            <button type="button" class="close" id="closeDP" >&times;</button>

                            <span id="js_Pmess"></span>
                        </div>
                        <div class="alert alert-warning"  style="display: none" >
                            <button type="button" class="close" id="closeDNS" >&times;</button>

                            <span id="js_NSmess"></span>
                        </div>
                    </div>
            </div>


            <div class="col-sm-offset-2 col-sm-6 top_indent">
                <div class="row">
                    <!--<div class="btn-group"> -->

                        <div class="col-sm-offset-4 col-sm-4"> <input type="reset" id="resetButt" class="btn btn-default btn-block" value="Отмена"></div>

                        <div class="col-sm-4"> <input type="submit" id="submitButt" class="btn btn-success btn-block pull-right" value="Создать"> </div>
                    </div>

            <!--<div class="col-sm-offset-4 col-sm-1">
                <input type="reset" class="btn btn-default btn-block" value="Отмена">
            </div>
            <div class="col-sm-1">
                <input type="submit" class="btn btn-primary btn-block" value="Создать">
            </div>-->
            </div>
        </form>
{% endblock %}
