{% extends "base.html" %}

{% block style %}
<link href="/static/css/summernote.css" rel="stylesheet">
<style>
    .note-editor .note-editable {
        overflow: auto;
        resize: none;
    }
    .note-editor .note-statusbar {
        display: none;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="/static/js/summernote.min.js"></script>
<script src="/static/js/summernote-ru-RU.js"></script>
{% endblock %}

{% block content %}
<div class="col-sm-12" style="display:none;">
    <div class="alert alert-warning">I will warn you!</div>
</div>
<div class="row">
    <div class="col-sm-6" style="padding-right: 0;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ entry_event.name }}
                </h4>
            </div>
            <div class="panel-body">
                <h4>Описание события:</h4>
                <p>{{ entry_event.description|safe }}</p>
                <h4>Дополнительная информация:</h4>
                <label class="col-sm-5 text-right no-margin">Связано видеозаписей: </label>
                <a href="{% url 'base_site.owl_video.views.viewVideoList' %}?search=event&q={{ entry_event.name }}" class="col-sm-7 text-left">{{ entry_event.entrys.count }}</a>
                <label class="col-sm-5 text-right top_indent ">Создано пользователем: </label>
                <a href="{% url 'base_site.owl_video.views.viewAccount' entry_event.creator.id %}" class="col-sm-6 text-left top_indent">{{ entry_event.creator.username }}</a>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-comments"></i> Комментарии <small>&#40;0&#41;</small></h4>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <p class="text-muted text-center">
                        <i class="fa fa-bullhorn"></i> Раздел в разработке
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
