{% extends "base.html" %}

{% block style %}
<style>
    .frame {
        height: 241px;
        line-height: 241px;
        overflow: hidden;
    }
    .frame ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .frame ul li {
        float: left;
        width: 340px;
        height: 100%;
        margin: 0 5px 0 5px;
        padding: 0;
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
    }


    .frame ul li img {
        vertical-align: top;
        width: 330px;
        height: 186px;
    }

    a.left_control {
        position: absolute;
        left: -40px;
        top: 45%;
    }
    a.right_control {
        position: absolute;
        right: -40px;
        top: 45%;
    }
    a.disabled {
        display: none;
    }
    ul#events_list {
        list-style: none;
        padding: 0;
    }
    ul#events_list li .panel {
        margin-bottom: 10px;
    }
    ul#events_list li:last-child .panel {
        margin-bottom: 0px;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="static/js/sly.min.js"></script>
<script>
    $(document).ready( function() {
        var frame = $(".frame");
        //console.log(frame);
        var b_prev = $(".prev");
        var b_next = $(".next");
        for (var i=0; i < frame.length; i++) {
            var sly = new Sly(frame[i], {
                horizontal: 1, // Switch to horizontal mode.

                // Item based navigation
                itemNav:      "centered", // Item navigation type. Can be: 'basic', 'centered', 'forceCentered'.
                smart:        0,    // Repositions the activated item to help with further navigation.
                activateOn:   null, // Activate an item on this event. Can be: 'click', 'mouseenter', ...

                // Navigation buttons
                prevPage:     b_prev[i], // Selector or DOM element for "previous item" button.
                nextPage:     b_next[i], // Selector or DOM element for "next item" button.

                // Mixed options
                moveBy:        300,     // Speed in pixels per second used by forward and backward buttons.
                speed:         500,       // Animations speed in milliseconds. 0 to disable animations.
                easing:        'linear', // Easing for duration based (tweening) animations.
                startAt:       0,       // Starting offset in pixels or items.

                // Classes
                activeClass:   'active',   // Class for active items and pages.
                disabledClass: 'disabled'  // Class for disabled navigation elements.
            });

            sly.init();
        }


    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-12">
    {% if user_join %}
    <div class="alert alert-success">
        <i class="fa fa-check-circle fa-2x"></i> <strong>Создание аккаунта прошло успешно.</strong> Проверьте Ваш E-mail.
    </div>
    {% endif %}
</div>
<div class="jumbotron">
    <h2>Добро пожаловать в Систему Облачного ВидеоАрхива</h2>
    <p>Система находится на стадии <strong>альфа-теста</strong>,<br>если что-то не работает -- не пугайтесь  так и задумано</p>
</div>
<ul class="no-paddings" style="list-style: none;" id="events_list">
    {% for event in index_events %}
    <li>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'base_site.owl_video.views.viewEventEntry' event.id %}"><h1 class="panel-title">{{ event.name }}</h1></a>
            </div>
            <div class="panel-body">
                <a href="#" class="left_control prev">
                    <i class="fa fa-chevron-left fa-4x"></i>
                </a>
                <div class="frame">
                    <ul class="clearfix">
                        {% for connected_video in event.videos.all %}
                        <li>
                            <div class="thumbnail no-margin">
                                <a href="{% url 'base_site.owl_video.views.viewVideoEntry' connected_video.id %}"><img src="https://i.ytimg.com/vi/{{ connected_video.youtube_ui }}/mqdefault.jpg" alt="{{ connected_video.title }}"></a>
                                <div class="caption text-left" style="padding: 5px 5px 0 5px; ">
                                    <a href="{% url 'base_site.owl_video.views.viewVideoEntry' connected_video.id %}" class=" text-primary" style="text-decoration: underline;">{{ connected_video.title }}</a><br>
                                    <a href="{% url 'base_site.owl_video.views.viewAccount' connected_video.owner.id %}" class="small">{{ connected_video.owner.username }}</a>
                                    <span class="pull-right small text-muted">{{ connected_video.add_date|date:"d.m.y" }}</span>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="" class="right_control next">
                    <i class="fa fa-chevron-right fa-4x"></i>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
