{% extends "base.html" %}

{% block style %}
<style>
    .help-block {
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="/static/js/pass_remind.js"></script>
{% endblock %}

{% block content %}

<div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Востановление пароля</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" role="form">
                <div class="form-horizontal">
                    {% if search_user_error %}
                    <div class="form-group">
                        <div class="alert alert-danger col-sm-offset-1 col-sm-10">
                            <strong>Внимание!</strong> Введенная информация о email/имени пользователя не найдена.
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                        <label class="col-sm-2 control-label" for="{{ form.username.id_for_label }}">Логин&#58;</label>
                        <div class="col-sm-8">
                            {{ form.login_username }}
                            {% if form.login_username.errors %}
                                {% for error in form.login_username.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                        <label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">E-mail</label>
                        <div class="col-sm-8">
                            {{ form.email }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-primary col-sm-3" id="no-margin" value="Востановить" >
                            <a href="{% url base_site.owl_video.views.userLogin %}" class="col-sm-9" style="padding: 6px 15px;">Вспомнили пароль?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
