{% extends "base.html" %}

{% block style %}
<link href="/static/css/summernote.css" rel="stylesheet">
<link href="/static/css/bootstrap-editable.css" rel="stylesheet">
<style>
    .note-editor .note-editable {
        overflow: auto;
        resize: none;
    }
    .note-editor .note-statusbar {
        display: none;
    }
    
    .nav-tabs>li>a {
        background-color: #fff;
    }

    ul#tab_list li a {
        border-color: #b6d1e6 #b6d1e6 #b6d1e6;
    }
    ul#tab_list li {
        margin-right: 5px;
    }

    th.vid_actions, td.vid_actions {
        min-width: 80px;
    }
    th.vid_date, td.vid_date {
        min-width: 100px;
    }
    th.vid_title, td.vid_title {
        min-width: 90px;
    }

    td.vid_actions ul {
        list-style: none;
        padding: 0;
    }
    ul.video_events {
        list-style: none;
        padding: 0;
    }
    ul.video_events li {
        display: inline;
        text-align: justify;
    }
<!--
    .event_form{
        display: none;
    }
-->
        
</style>
{% endblock %}

{% block scripts %}
<script src="/static/js/summernote.min.js"></script>
<script src="/static/js/summernote-ru-RU.js"></script>
<script src="/static/js/bootstrap-editable.min.js"></script>
<script>
    $(document).ready( function() {
        {% if user.is_authenticated and user.id == shown_user.id %}
        $.fn.editable.defaults.mode = 'inline';
        $('#userLogin').editable();
        $('#userFname').editable();
        $('#userLname').editable();
        var list = $('#tab_list li');
        var tour = new Tour({
            name: "account_tour",
            steps: [],
            backdrop: true,
            onEnd: function(tour) {
                $('#profile').addClass('active');
            }
        });
        tour.addStep({
            element: list[0],
            placement: "bottom",
            title: "Настройки аккаунта",
            content: "В владке \"Мои настройки\" отображаются данные вашего профиля, некоторые из них можно изменить.",
            onShow: function(tour) {
                $('#profile').addClass('active');
            },
            onHide: function(tour) {
                $('#profile').removeClass('active');
            }
        });
        tour.addStep({
            element: list[1],
            placement: "bottom",
            title: "Настройки аккаунта",
            content: "В владке \"Мои видеозаписи\" отображаются видеозаписи которые вы загрузили.",
            onShow: function(tour) {
                $('#my_video').addClass('active');
            },
            onHide: function(tour) {
                $('#my_video').removeClass('active');
            }
        });
        tour.addStep({
            element: list[2],
            placement: "bottom",
            title: "Настройки аккаунта",
            content: "В владке \"Созданные события\" отображается список существующих событий, которые вы создали.",
            onShow: function(tour) {
                $('#events').addClass('active');
            },
            onHide: function(tour) {
                $('#events').removeClass('active');
            }
        });


        tour.init();
        tour.start();
        $('#start_tour').click(function(){
            tour.restart();
        });

        $("#submitButton").prop("disabled", "disabled");
        
            {% if create_event_form.event_name.errors %}
                $("#create_new_event").modal('show');
            {% endif %}
            
        var desc_pattern = /[^\s(?:<br>)(?:&nbsp;)(?:<p>(?:<br>)*(?:&nbsp;)*<\/p>)]+/;
        var event_name_pattern = /^[a-zA-Z0-9\+\.\-_\u0400-\u04ff]{2,255}$/
        
        
        
        $("#id_event_name").blur( function() {
            var input_event_name = $(this).val();
            if ( ! event_name_pattern.test( input_event_name ) ) {
                $("#event_alert").empty();
                $("#event_alert").append("<strong>Имя события</strong> может содержать только цифры, символы&#58; Кириллицы&#44; Латиницы&#44; + - _ .");
                $("#event_alert").fadeIn().delay(2000).fadeOut();
                $("#submitButton").prop("disabled", "disabled");
                
            }
            else {
                $.get('/ajax/checkevent/', { new_event : input_event_name } , function( resp ) {
                    if ( resp == 'ok' ) {
                        $("#event_alert").fadeOut();
                        $(".form-group").removeClass("has-error");
                        $("#submitButton").removeProp("disabled");
                    }
                    else {
                        $("#submitButton").prop("disabled", "disabled");
                        $("#event_alert").empty();
                        $("#event_alert").append("Событие&#58; <strong>" + input_event_name + "</strong> уже существует");
                        $(".form-group").addClass("has-error");
                        $("#event_alert").fadeIn();
                    }
                });
            }
        });
        
        $("#event_desc").summernote(
            {
                lang : 'ru-RU',
                height : 100,
                toolbar : [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    //['fontsize', ['fontsize']],
                    //['color', ['color']],
                    //['para', ['ul', 'ol']],
                    //['height', ['height']],
                    //['insert', [ 'link']],
                ]
            }
        );
        
        $(".create_new_event_link").click(function() {
            $("#submitButton").prop("disabled", "disabled");
            $("#id_event_name").val('');
            $("#event_desc").code('');
            $("#create_new_event").modal('show');
            return false;
        });
        
        $("#create_event_form").submit( function( event ) {
            
            var html_desc = $("#event_desc").code();
            
            if ( desc_pattern.test( html_desc ) ) {
                $("#id_event_desc").val( html_desc );
            }
            else {
                $("#id_event_desc").val( '' );
                //$("event_alert").fadeIn().delay(2000).fadeOut();
                //event.preventDefault();
            }
        });
        {% endif %}
        
    });
</script>
{% endblock %}

{% block content %}

{% if user.is_authenticated and user.id == shown_user.id %}
<!--
Форма добавления событий
-->
<div class="modal fade" id="create_new_event" tabindex="-1" role="dialog" aria-labelledby="FormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="FormLabel">Создание события</h4>
            </div>
            <form id="create_event_form" action="" role="form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="event_alert" class="alert alert-danger" {% if not create_event_form.event_name.errors %} style="display:none;" {% endif %}>
                        {% if create_event_form.event_name.errors %}
                            {% for error in create_event_form.event_name.errors %}
                                {{ error|safe }}
                            {% endfor %}
                        {% endif %}
                        {% if create_event_form.event_desc.errors %}
                            {% for error in create_event_form.event_desc.errors %}
                                {{ error|safe }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group {% if create_event_form.event_name.errors %}has-error{% endif %}">
                        <label for="{{ create_event_form.event_name.id_for_label }}">Имя события&#58;</label>
                        {{ create_event_form.event_name }}
                    </div>
                    <div class="form-group">
                        <label for="create_event_form.event_desc.id_for_label">Описание события&#58;</label>
                        <div id="event_desc"></div>
                        {{ create_event_form.event_desc}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="resetButton" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" id="submitButton" class="btn btn-success">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<!--
Профиль пользователя
-->

<ul class="nav nav-pills bottom_indent" id="tab_list">
    <li class="active">
        <a class="active" href="#profile" data-toggle="tab">
            {% if user.is_authenticated and user.id == shown_user.id %}
                Мои настройки
            {% else %}
                Аккаунт
            {% endif %}
        </a>
    </li>
    <li>
        <a href="#my_video" data-toggle="tab">
            {% if user.is_authenticated and user.id == shown_user.id %}
                Мои видеозаписи
            {% else %}
                Видеозаписи
            {% endif %}
        </a>
    </li>
    <li><a href="#events" data-toggle="tab">Созданные события</a></li>
    {% comment %}<li><a href="#services" data-toggle="tab">Привязка аккаунта</a></li>{% endcomment %}
</ul>
<div class="tab-content">
<div class="tab-pane" id="my_video">
    <table class="table table-hover">
        <thead>
        <th>ID</th>
        <th class="vid_title">Название</th>
        <th>Привязанные события</th>
        <th class="vid_date">Добавлено</th>
        <th>Внешняя ссылка </th>
        <th>Архивный UID</th>
        <th class="vid_actions">Действия</th>
        </thead>
        <tbody>
        {% for entry_video in shown_user.video_set.all %}
        <tr>
            <td>{{ entry_video.id }}</td>
            <td class="vid_title">{{ entry_video.title }}</td>
            <td>
                <ul class="video_events">
                    {% for event_entry in entry_video.event_set.all %}
                    <li><a href="#" class="label label-default">{{ event_entry.name }}</a></li>
                    {% empty %}
                                            <span class="text-muted">
                                                <i class="fa fa-chain-broken"></i> Не привязано ни одного события
                                                {% comment %}
                                                {% if user.is_authenticated and user.id == shown_user.id %}
                                                    <br><a href="#" class="text-muted"><strong><i class="fa fa-link"></i></i> Привязать?</strong></a>
                                                {% endif %}
                                                {% endcomment %}
                                            </span>
                    {% endfor %}
                </ul>
            </td>
            <td class="vid_date">{{ entry_video.add_date|date:"d.m.y" }}</td>
            <td>
                <a href="http://www.youtube.com/watch?v={{ entry_video.youtube_ui }}"><i class="fa fa-external-link"></i> Перейти</a>
            </td>
            <td>
                <span><i class="fa fa-folder-o"></i> {{ entry_video.raw_title }}</span>
            </td>
            <td class="vid_actions">
                <ul>
                    {% if user.is_authenticated and user.id == shown_user.id %}
                    <li><a href="{% url 'base_site.owl_video.views.viewVideoEntry' entry_video.id %}">Изменить</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">
                {% if user.is_authenticated and user.id == shown_user.id %}
                <p class="text-muted text-center">
                    Вы пока не добавили ни одной видеозаписи
                </p>
                {% else %}
                <p class="text-muted text-center">
                    Пользователь <strong>{{ shown_user.username }}</strong> пока не добавил ни одной видеозаписи
                </p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% comment %}
<div class="tab-pane" id="services">
    <ul class="list-group" id="top_borders">
        <li class="list-group-item">
            <div class="row no-paddings">
                <div class="col-sm-offset-1 col-sm-3">
                    <a href="http://www.youtube.com/">
                        <img src="/static/img/YouTube-logo.png" class="img-rounded" style="width: 80px;">
                    </a>
                </div>
                <div class="col-sm-3 text-center">
                    <div id="gSignInWrapper">
                        <div id="customBtn" class="customGPlusSignIn">
                            <span class="icon" style="width: 0px; background: none; border-right: none;"></span>
                            <span class="buttonText">Отключить</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <span class="status-icon glyphicon glyphicon-ok-sign"></span>
                    <span class="status-text">Подключено</span>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row no-paddings">
                <div class="col-sm-offset-1 col-sm-3">
                    <a href="#">
                        <img src="#" class="img-rounded">
                        Logo img
                    </a>
                </div>
                <div class="col-sm-3 text-center">
                    <div id="gSignInWrapper">
                        <div id="customBtn" class="customGPlusSignIn">
                            <span class="icon" style="width: 0px; background: none; border-right: none;"></span>
                            <span class="buttonText">Подключить</span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3 text-center">
                    <div>
                        <span class="status-icon glyphicon glyphicon-remove-sign"></span>
                        <span class="status-text ">Не подключено</span>
                    </div>

                </div>
            </div>
        </li>

    </ul>
</div>
TODO Привязки аккаунта
{% endcomment %}
<div class="tab-pane active" id="profile">
<div class="row">
<div class="col-sm-3">
                        <span class="fa-stack" style="font-size: 8.5em;">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-question fa-stack-1x"></i>
                        </span>
    {% comment %}
    <img src="/static/img/AT.gif" class="img-rounded" style="width: 100%; height: auto;">

    <form role="form" style="margin-top: 10px;">
        <div class="form-group">
            <label for="AvatarFile">Загрузить новый аватар</label>
            <input type="file" id="AvatarFile">
        </div>
    </form>
    {% endcomment %}
</div>
<div class="col-sm-9">
<div class="panel panel-default" >
<div class="panel-heading">
    <h4 class="panel-title">Информация</h4>
</div>
<div class="panel-body">
<form action="" method="post" role="form">
    <div class="form-horizontal">
        <div class="row" style="margin-bottom: 5px;">
            <label class="col-sm-3 control-label">Логин:</label>
            <div class="col-sm-9">
                <div class="pull-left" style="padding-top: 7px;">
                    <span><a href="#" id="userLogin" data-type="text" data-title="Введите логин">{{ shown_user.username }}</a></span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <label class="col-sm-3 control-label">Имя:</label>
            <div class="col-sm-9">
                <div class="pull-left" style="padding-top: 7px;">
                    <span>
                    {% if not shown_user.first_name %}
                        <span class="text-muted"><a href="#" id="userFname" data-type="text" data-title="Введите имя">Отсутствует</a></span>
                    {% else %}
                        <a href="#" id="username" data-type="text" data-title="Введите имя">{{ shown_user.first_name }}</a>

                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <label class="col-sm-3 control-label">Фамилия:</label>
            <div class="col-sm-9">
                <div class="pull-left" style="padding-top: 7px;">
                    <span>
                        {% if not shown_user.last_name %}
                            <span class="text-muted"><a href="#" id="userLname" data-type="text" data-title="Введите фамилию">Отсутствует</a></span>
                        {% else %}
                        <a href="#" id="userLname" data-type="text" data-title="Введите фамилию">{{ shown_user.last_name }}</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <label class="col-sm-3 control-label">E-mail:</label>
            <div class="col-sm-9">
                <div class="pull-left" style="padding-top: 7px;">
                    <span>
                        {% if user.is_authenticated and user.id == shown_user.id %}
                            {{ shown_user.email }}
                        {% else %}
                            <span class="text-muted">Скрыт</span>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <label class="col-sm-3 control-label">Зарегистрирован:</label>
            <div class="col-sm-9">
                <div class="pull-left" style="padding-top: 7px;">
                    <span>{{ shown_user.date_joined|date:"d.m.y" }}</span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <label class="col-sm-3 control-label">Последнее вход:</label>
            <div class="col-sm-9">
                <div class="pull-left" style="padding-top: 7px;">
                    <span>{{ shown_user.last_login|date:"d.m.y в H:i" }}</span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <label class="col-sm-3 control-label">Новый пароль:</label>
            <div class="col-sm-9">
                <div class="row" style="margin-right: 0;">
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputNewPassword" maxlength="32" data-title="Требуется заполнить, макс. 32 символа" placeholder="Введите новый пароль">
                    </div>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputSnewPassword" maxlength="32" placeholder="Введите новый пароль еще раз">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <label class="col-sm-3 control-label">Подтверждение:</label>
            <div class="col-sm-9">
                <div class="row" style="margin-right: 0;">
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputOldPassword" maxlength="32" data-title="Требуется заполнить, макс. 32 символа" placeholder="Введите текущий пароль">
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary" value="Применить изменения" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





{% comment %}
<div class="form-horizontal">
    <div class="form-group" style="margin-bottom: 20px;">
        <label class="col-sm-3 control-label">Логин: </label>
        <span class="col-sm-9" style="padding-top: 7px; margin: 0;">{{ shown_user.username }}</span>

        <form action="" method="post" role="form">
            <div class="col-sm-3">
                <label for="inputNewName" class="control-label pull-right no-margin">Имя: </label>
            </div>
                                            <span class="col-sm-4" style="padding-top: 7px; margin: 0;">
                                                {% if not shown_user.first_name %}
                                                    <span class="text-muted">Отсутствует</span>
                                                {% else %}
                                                    {{ shown_user.first_name }}
                                                {% endif %}
                                            </span>
            <div class="col-sm-4" style="margin-bottom: 5px;">
                <input type="text" class="form-control" id="inputNewName" maxlength="32" data-title="Требуется заполнить, макс. 32 символа" placeholder="Введите новое имя">
            </div>

            <div class="col-sm-3">
                <label for="inputNewSecName" class="control-label pull-right no-margin">Фамилия: </label>
            </div>
                                            <span class="col-sm-4" style="padding-top: 7px; margin: 0;">
                                                {% if not shown_user.last_name %}
                                                    <span class="text-muted">Отсутствует</span>
                                                {% else %}
                                                    {{ shown_user.last_name }}
                                                {% endif %}
                                            </span>
            <div class="col-sm-4" style="margin-bottom: 5px;">
                <input type="text" class="form-control" id="inputNewSecName" maxlength="32" data-title="Требуется заполнить, макс. 32 символа" placeholder="Введите новую фамилию">
            </div>

            <label class="col-sm-3 control-label">E-mail: </label>
                                            <span class="col-sm-4" style="padding-top: 7px; margin: 0;">
                                                {% if user.is_authenticated and user.id == shown_user.id %}
                                                    {{ shown_user.email }}
                                                {% else %}
                                                    <span class="text-muted">Скрыт</span>
                                                {% endif %}
                                            </span>
            <div class="col-sm-3">
                <input type="submit" class="btn btn-primary" value="Изменить данные" >
            </div>
        </form>
        <label class="col-sm-3 control-label">Зарегистрирован: </label>
        <span class="col-sm-9" style="padding-top: 7px; margin: 0;">{{ shown_user.date_joined|date:"d.m.y" }}</span>

        <label class="col-sm-3 control-label">Последний вход: </label>
        <span class="col-sm-9" style="padding-top: 7px; margin: 0;">{{ shown_user.last_login|date:"d.m.y в H:i" }}</span>

    </div>
</div>
<form action="" method="post" role="form">
    <div class="row" style="margin-bottom: 5px;">
        <div class="form-group no-margin">
            <div class="col-sm-3">
                <label for="inputNewPassword" class="control-label pull-right no-margin" style="margin-top: 7px;">Новый пароль:</label>
            </div>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="inputNewPassword" maxlength="32" data-title="Требуется заполнить, макс. 32 символа" placeholder="Введите новый пароль">
            </div>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="inputSnewPassword" maxlength="32" placeholder="Введите пароль еще раз">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px;">
        <div class="form-group no-margin">
            <div class="col-sm-3">
                <label for="inputOldPassword" class="control-label pull-right no-margin" style="margin-top: 7px;">Текущий пароль:</label>
            </div>

            <div class="col-sm-4">
                <input type="password" class="form-control" id="inputOldPassword" maxlength="32" data-title="Требуется заполнить, макс. 32 символа" placeholder="Введите текущий пароль">
            </div>
        </div>
        <div class="form-group no-margin">
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" value="Изменить пароль" >
            </div>
        </div>
    </div>
</form>
{% endcomment %}
</div>
</div>
<div class="panel panel-default" style="margin-top: 10px;">
    <div class="panel-heading">
        <h4 class="panel-title">Статистика пользователя</h4>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="col-sm-6 no-paddings">
                <div class="row" style="margin-bottom: 5px;">
                    <label class="col-sm-7 control-label">Добавлено видеозаписей:</label>
                    <div class="col-sm-5">
                        <div class="pull-left" style="padding-top: 7px;">
                            <span><a href="{% url 'base_site.owl_video.views.viewVideoList' %}?search=user&q={{ shown_user.username }}">{{ shown_user.video_set.count }}</a></span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <label class="col-sm-7 control-label">Создано событий:</label>
                    <div class="col-sm-5">
                        <div class="pull-left" style="padding-top: 7px;">
                            <span>{{ shown_user.event_set.count }}</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <label class="col-sm-7 control-label">Оставлено комментариев:</label>
                    <div class="col-sm-5">
                        <div class="pull-left" style="padding-top: 7px;">
                            <span>{{ shown_user.comment_comments.count }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="events">
    <div class="row no-margin pull-right" style="margin-top: -60px;">
        {% if user.is_authenticated and user.id == shown_user.id %}
        <button type="button" class="btn btn-success create_new_event_link">
            <i class="fa fa-plus"></i> Создать событие
        </button>
        {% endif %}
    </div>

    <table class="table table-hover">
        <thead>
        <th>ID</th>
        <th>Имя</th>
        <th>Описание</th>
        <th>Привязки</th>
        <th>Действия</th>
        </thead>
        <tbody>
        {% for entry_event in shown_user.event_set.all %}
        <tr>
            <td>{{ entry_event.id }}</td>
            <td>{{ entry_event.name }}</td>
            <td><p>{{ entry_event.description|safe }}</p></td>
            <td><a href="{% url 'base_site.owl_video.views.viewVideoList' %}?search=event&q={{ entry_event.name }}">{{ entry_event.videos.count }} Привязка</a></td>
            <td>
                <ul style="list-style: none; padding: 0;">
                    {% if user.is_authenticated and user.id == shown_user.id %}
                    <li><a href="#">Изменить</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">
                {% if user.is_authenticated and user.id == shown_user.id %}
                <p class="text-muted text-center">
                    Вы пока не создали ни одного события
                    <a href="#" class="text-muted create_new_event_link"><strong><i class="fa fa-plus"></i> Создать?</strong></a>
                </p>
                {% else %}
                <p class="text-muted text-center">
                    Пользователь <strong>{{ shown_user.username }}</strong> пока не создал ни одного события
                </p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}

