{% extends "base.html" %}

{% block style %}
<!--
<style>
    .help-block {
        margin-bottom: 0;
    }
</style>
-->
{% endblock %}


{% block scripts %}
<script>
    $(document).ready( function() {
        var tour = new Tour({
            name: "videos_tour",
            steps: [],
            backdrop: true
        });
        tour.addStep({
            element: $('.btn-group'),
            placement: "left",
            title: "Список видио записей",
            content: "Здесь можно выбрать количество видео записей которые показываются на одной странице."

        });
        tour.addStep({
            element: $('.input-group'),
            placement: "left",
            title: "Список видио записей",
            content: "Поиск видео записей. Можно искать по названию, событию или пользователю который загрузил видео."
        });
        tour.addStep({
            element: $('.col-md-6')[0],
            placement: "left",
            title: "Список видио записей",
            content: "Основная информация о видео -- название, описание, связанные события."
        });
        tour.addStep({
            element: $('.col-md-3')[1],
            placement: "left",
            title: "Список видио записей",
            content: "Дополнительная информация о видео -- дата добавления видеозаписи, кем загружена видеозапись и т.д."
        });

        tour.init();
        tour.start();
        $('#start_tour').click(function(){
            tour.restart();
        });
        //Кол-во на странице элементов видеозаписей
        view_amts = [ '5','10','все' ];
        var dropdown_menu = $("#amt_viewer");
        for ( var i = 0; i < view_amts.length; i++ ) {
            if ( i == (view_amts.length - 1 ) ) {
                dropdown_menu.append( '<li><a href="?amt=' + 'all' + '">' + view_amts[i] + '</a></li>' );
            }
            else {
                dropdown_menu.append( '<li><a href="?amt=' + view_amts[i] + '">' + view_amts[i] + '</a></li>' );
            }
        }
        //var dropdown_width = dropdown_menu.prev().width()
        // dropdown_menu.attr( "style", "min-width: " + dropdown_width + "px;" );
        
    });
</script>
{% endblock %}


{% block content %}
    {% if search_form.q.errors %}
        <div class="col-sm-12">
            <div class="alert alert-warning">
                <i class="fa fa-exclamation-triangle fa-2x text-warning"></i>
                {% for valid_error in search_form.q.errors %}
                {{ valid_error|safe }}

                {% if not forloop.last %}
                <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if query_errors %}
        <div class="col-sm-12">
            <div class="alert alert-info">
                <i class="fa fa-info-circle fa-2x text-info"></i>
                {% for q_error in query_errors %}
                {{ q_error|safe }}

                {% if not forloop.last %}
                <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endif %}
        <div class="row bottom_indent">
            <div class="col-sm-12">
                <h2 class="no-margin" style="display: inline;">Список видеозаписей</h2>
                {% comment %}
                <form method="get" action="" class="col-md-5 pull-right">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-adjust"></i> <i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Искать по</li>
                                <li><a id="search_title" href="#">названию</a></li>
                                <li><a id="search_event" href="#">событию</a></li>
                                <li><a id="search_user" href="#">пользователю</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        {{ search_form.search }}
                        {{ search_form.q }}
                        <!--
                                                <input id="id_search" type="hidden">
                                                <input id="id_q" type="text" maxlength="128" placeholder="Поиск по названию" class="form-control">
                        -->
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </form>
                {% endcomment %}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> <span id="view_conf">
                    {% if not list_all %}
                        {{ per_page }}
                    {% else %}
                        все
                    {% endif %} <i class="fa fa-caret-down"></i>
                    </span></button>
                    <ul class="dropdown-menu" id="amt_viewer">
                        <li class="dropdown-header">Показывать по</li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- List group -->
        <ul class="list-group">
            {% for entry in videolist %}
            <li class="list-group-item" style="padding: 15px 15px;">
                <div class="row" style="background-color: #fff;">
                    <div class="col-md-3">
                        <a href="{% url 'base_site.owl_video.views.viewVideoEntry' entry.id %}"><img src="https://i.ytimg.com/vi/{{ entry.youtube_ui }}/mqdefault.jpg" class="img-rounded" style="width: 100%; height: auto;"></a>
                    </div>
                    <div class="col-md-6 pull-left" style="border-right: 1px solid #ddd; height: 100%;">
                        <div class="vid_title">
                            <a href="{% url 'base_site.owl_video.views.viewVideoEntry' entry.id %}"><h3 class="no-margin">{{ entry.title }}</h3></a>
                        </div>
                        <div class="vid_disc">
                            <H5>Описание:</H5>
                            <p>
                                {% if not entry.description %}
                                <span class="text-muted">Пусто...</span>
                                {% else %}
                                {{ entry.description|safe }}
                                {% endif %}
                            </p>
                        </div>
                        <H5>События:</H5>
                        <ul style="list-style: none; padding: 0;">
                            {% for event in entry.event_set.all %}
                            <li style="display: inline;"><a href="{% url 'base_site.owl_video.views.viewEventEntry' event.id %}" class="label label-default">{{ event.name }}</a></li>
                            {% empty %}
                                    <span class="text-muted">
                                        <i class="fa fa-chain-broken"></i> Не привязано ни одного события
                                    </span>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul style="list-style: none; padding: 0;">
                            <li>
                                <span style="font-weight: bold;">Дата добавления:</span>
                                <span>{{ entry.add_date|date:"d.m.y" }}</span>
                            </li>
                            <!--
                                                            <li>
                                                                <span style="font-weight: bold;">Продолжительность:</span>
                                                                <span>15мин</span>
                                                            </li>
                            -->
                            <li>
                                <span style="font-weight: bold;">Добавлено пользователем:</span>
                                <span>{{ entry.owner.username }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if not list_all %}
        <div class="row no-margin" id="pager">
            <ul class="pagination pagination">
                {% for num_page in page_of_pages %}

                {% if forloop.first %}
                {% if videolist.has_previous %}
                <li><a href="?page={{ videolist.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <!--
                                            <li><a href="?page=1">&#124;&lt;</a></li>
                -->
                {% endif %}
                {% endif %}



                {% ifequal num_page videolist.number %}
                <li class="active"><a href="#">{{ num_page }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                <li><a href="?page={{ num_page }}">{{ num_page }}</a></li>
                {% endifequal %}


                {% if forloop.last %}
                {% if videolist.has_next %}
                <li><a href="?page={{ videolist.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                <!--
                                            <li><a href="?page={{ videolist.paginator.num_pages }}">&gt;&#124;</a></li>
                -->
                {% endif %}
                {% endif %}


                {% endfor %}
                <!--
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                -->
            </ul>
        </div>
        {% else %}
        {% endif %}
{% endblock %}
