{% extends "base.html" %}

{% block style %}
<style>
    ul.cloud {
        list-style: none;
        padding: 0;
        text-align: center;
    }
    ul.cloud li {
        display: inline;
    }
    ul.cloud li a {
        text-decoration: none;
    }
    ul.cloud li a:active {
        border: none;
    }
    ul.cloud li a button{
        margin: 0 0 5px 0;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.tagcanvas.min.js"></script>
<script>
    $(document).ready(function() {
        var newCanvas = $('<canvas/>',{'id':'myCanvas'}).attr({'width':$('#myCanvasContainer').width(),'height':500});
        $('#myCanvasContainer').append(newCanvas);
        var options = {
            shuffleTags: true,
            textFont: null,
            textColour: '#003984',
            textHeight: 16,
            frontSelect: true,
            outlineColour: '#c3d9eb',
            reverse: true,
            freezeActive: true,
            freezeDecel: true,
            stretchX: 2,
            outlineMethod: 'block',
            activeCursor: 'pointer',
            shadow: "#000000",
            weight: true,
            maxSpeed : 0.05,
            depth : 0.1
        };
        if( ! $('#myCanvas').tagcanvas(options, 'cloud')) {
            // TagCanvas failed to load
            $('#myCanvasContainer').hide();
        }
    });
</script>
{% endblock %}

{% block content %}
    <div id="myCanvasContainer">
    </div>
    <div id="cloud">
        <ul>
            {% for event in events %}
            <li><a href="{% url 'base_site.owl_video.views.viewEventEntry' event.id %}" class="h2">{{ event.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
