<!DOCTYPE html>
<html>
    <head>
        <title>Регистрация</title>
    <!-- Bootstrap -->
        <meta charset="utf-8">
        <link href="{{ videostorage_url }}/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ videostorage_url }}/static/css/owl.css" rel="stylesheet">
        <link href="{{ videostorage_url }}/static/css/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- <link href="/static/css/non-responsive.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <script src="{{ videostorage_url }}/static/js/jquery-1.10.2.min.js"></script>
        <script src="{{ videostorage_url }}/static/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container" style="padding-top: 10%;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">Регистрация</h4>
                </div>
                <div class="panel-body">
                    <p>
                        <h4>Поздравляем, {{ username }}!</h4>
                        Вы успешно создали аккаунт в Видеоархиве.
                        <br>Пожалуйста, сохраните следующие данные:
                        <br>Логин: <strong>{{ username }}</strong>
                        <br>Пароль: <strong>{{ user_pass }}</strong>
                        <br><span class="text-muted">*</span>Теперь Вы можете входить в Видеоархив по ним.

                    </p>
                    <div class="alert alert-warning">
                    <strong>Внимание!</strong> Не теряйте их, они понадобятся вам для авторизации через локальный клиент.
                    </div>
                    <p class="text-muted">
                        *Если Вы вошли при помощи учетной записи Google, то вы можете использовать оба вида входа в Видеоархив.
                        <br>Это автоматически сгенерированное письмо, на него не надо отвечать.
                    </p>
                </div>
                <div class="panel-footer"><a href="{{ videostorage_url }}" class="text-muted">Перейти в Видеоархив</a></div>
            </div>
        </div>

    </body>
</html>
